{{for result in results:}}
<!-- @IAPT: We can intersperse HTML within the Python statements -->
<div class="product">
<!-- @IAPT: Helper H3 puts an h3 header element around the text inside -->
<!-- @IAPT: In Practical 3 Part 4.3 this has been updated so that each heading has an anchor that leads
to an individual page for each product-->
{{=H3(A(result.name, callback=URL('store', 'books', args=[result.id])))}}
<ul>

    <li><strong>Publisher:</strong> {{=result.publisher}}</li>
    <li><strong>Format:</strong> {{=result.type}}</li>
    <li><strong>Price:</strong> {{=result.price}}</li>
    <li><strong>Description:</strong> {{=result.description}}</li>

</ul>
</div>